[submodule "Lab_E/lab-e-Ashley5478"]
	path = Lab_E/lab-e-Ashley5478
	url = https://github.com/EEEN10242/lab-e-Ashley5478
[submodule "Lab_B/lab-b-Ashley5478"]
	path = Lab_B/lab-b-Ashley5478
	url = https://github.com/EEEN10242/lab-b-Ashley5478
[submodule "Lab_F/lab-f-Ashley5478"]
	path = Lab_F/lab-f-Ashley5478
	url = https://github.com/EEEN10242/lab-f-Ashley5478
[submodule "Lab_D/lab-d-Ashley5478"]
	path = Lab_D/lab-d-Ashley5478
	url = https://github.com/EEEN10242/lab-d-Ashley5478
[submodule "Lab_C/lab-c-Ashley5478"]
	path = Lab_C/lab-c-Ashley5478
	url = https://github.com/EEEN10242/lab-c-Ashley5478
[submodule "Coursework/coursework-2324-Ashley5478"]
	path = Coursework/coursework-2324-Ashley5478
	url = https://github.com/EEEN10242/coursework-2324-Ashley5478
[submodule "Lab_G/lab-g-Ashley5478"]
	path = Lab_G/lab-g-Ashley5478
	url = https://github.com/EEEN10242/lab-g-Ashley5478
[submodule "Lab_H/lab-h-Ashley5478"]
	path = Lab_H/lab-h-Ashley5478
	url = https://github.com/EEEN10242/lab-h-Ashley5478
[submodule "lab-i-Ashley5478"]
	path = lab-i-Ashley5478
	url = https://github.com/EEEN10242/lab-i-Ashley5478
